################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/data/images
/data/images
/bbbb.jpg
./InceptionV3_patrol_new_withback.h5
